<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit chat</title>
</head>
<body>
    
     <form method="post" action="/chats/<%=chat._id%>?_method=PUT">
        <p>from : <%=chat.from%> </p>
        <p> to : <%=chat.to%></p>
        <textarea name="message"><%=chat.message%></textarea><br>
        <button>edit</button>
     </form>

</body>
</html>